<ion-content>
  <section>
    <div class="contenedor">
      <div class="formulario">

        <form>
          <h2>Iniciar Sesión</h2>

          <div class="input-contenedor">
            <ion-icon name="mail-outline" class="icon"></ion-icon>
            <ion-input type="email" placeholder="Email" required></ion-input>
          </div>

          <div class="input-contenedor">
            <ion-icon name="lock-closed-outline" class="icon"></ion-icon>
            <ion-input type="password" placeholder="Contraseña" required></ion-input>
          </div>

          <div class="olvidar">
            <ion-checkbox name="recordar"></ion-checkbox> Recordar
            <a href="#">¿Olvidé la Contraseña?</a>
          </div>

          <ion-button expand="block" (click)="onClickIngresar()" type="button">Acceder</ion-button>

        </form>

      </div>
    </div>
  </section>
</ion-content>
