body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#1b1a1a80, #1b1a1a80), url('/assets/img/fondo.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

ion-header {
  background-color: black;
  ion-toolbar {
      --background: black;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;

      ion-back-button {
          color: white;
          position: absolute;
          margin-left: 1px;
      }

      h1 {
          color: white;
          font-size: 20px;
          text-align: center;
      }
  }
}

ion-content {
  --background: linear-gradient(#00000080, #00000080), url('/assets/img/fondo.jpg') no-repeat center center / cover;
  min-height: 100vh;
  padding: 50px;
}

ion-item-group {
  margin-top: 10px; 
  margin-bottom: 10px;
}

ion-item {
  --background: rgba(0, 0, 0, 0.7);
  color: white;
  margin-bottom: 3px;
  text-align: left; 
  border-radius: 0px;
  padding: 10px; 
}