<ion-content>
  <div class="welcome-section">
    <h2>¡Bienvenido!</h2>
    <p>¿Qué haremos hoy..?</p>
  </div>

  <div class="button-container">
    <ion-button (click)="onClickMesero()">Mesero</ion-button>
    <ion-button (click)="onClickChef()">Chef</ion-button>
    <ion-button (click)="onClickHistorial()">Historial</ion-button>
    <ion-button (click)="onClickSalir()">Salir</ion-button>
  </div>

  <div class="profile-icon">
    <ion-icon name="person-circle-outline"></ion-icon>
  </div>
</ion-content>